<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_block_abstract_prepare_layout_before">
        <observer name="iglobal_stores_prepare_layout_before" instance="Iglobal\Stores\Observer\PrepareLayoutBefore" />
    </event>
    <event name="sales_order_place_after">
        <observer name="iglobal_stores_observer_order_created" instance="Iglobal\Stores\Observer\OrderCreated" />
    </event>
</config>
