<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Config\Controller\Adminhtml\System\Config\Edit" type="Kensium\Amconnector\Controller\Adminhtml\System\Config\EditConfig" />
   <!--<type name="Magento\Framework\Console\CommandList">
    <arguments>
        <argument name="commands" xsi:type="array">           
            <item name="kensium_sync" xsi:type="object">Kensium\Amconnector\Console\Sync</item>
        </argument>
    </arguments>
</type>-->
</config>