<?xml version="1.0"?>
<!--
/**
 * @category   Amconnector
 * @package    Kensium_Amconnector
 * @copyright  Copyright (c) 2016 Kensium Solution Pvt.Ltd. (http://www.kensiumsolutions.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <!--<menu>
        <add id="Kensium_Attributemanager::kensium_Attributemanager" title="Attribute Manager" module="Kensium_Attributemanager" dependsOnModule="Kensium_Amconnector" sortOrder="50" parent="Kensium_Amconnector::kensium_kensiumadminindex"
             resource="Kensium_Attributemanager::kensium_Attributemanager"/>
        <add id="Kensium_Attributemanager::kensium_attributemanager1" title="Product" module="Kensium_Attributemanager" sortOrder="40"
             parent="Kensium_Attributemanager::kensium_Attributemanager" action="catalog/product_attribute/"
             resource="Kensium_Attributemanager::kensium_kensiumadminindex"/>
        <add id="Kensium_Attributemanager::kensium_attributemanager2" title="Customer" module="Kensium_Attributemanager" sortOrder="42"
             parent="Kensium_Attributemanager::kensium_Attributemanager" action="attributemanager/customer/index"
             resource="Kensium_Attributemanager::kensium_kensiumadminindex"/>
        <add id="Kensium_Attributemanager::kensium_attributemanager3" title="Customer Address" module="Kensium_Attributemanager" sortOrder="43"
             parent="Kensium_Attributemanager::kensium_Attributemanager" action="attributemanager/address/index"
             resource="Kensium_Attributemanager::kensium_kensiumadminindex"/>
        <add id="Kensium_Attributemanager::kensium_attributemanager4" title="Category" module="Kensium_Attributemanager" sortOrder="41"
             parent="Kensium_Attributemanager::kensium_Attributemanager" action="attributemanager/category/index"
             resource="Kensium_Attributemanager::kensium_kensiumadminindex"/>
    </menu>-->
</config>
