<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Promo\Api\Data\TotalsItemImageInterface"
                type="\Amasty\Promo\Model\Quote\Totals\Item\ImageData"/>

    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <plugin name="Amasty_Promo::CalculatorFactory" type="Amasty\Promo\Plugin\CalculatorFactory"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="Amasty_Promo::QuoteItem" type="Amasty\Promo\Plugin\Quote\Item"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule">
        <plugin name="Amasty_Promo::SalesRule" type="Amasty\Promo\Plugin\SalesRule"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="Amasty_Promo::SalesRule_ValueProvider" type="Amasty\Promo\Plugin\ValueProvider"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product">
        <plugin name="Amasty_Promo::SalesRule_Rule_Condition_Product"
                type="Amasty\Promo\Plugin\SalesRule\Model\Rule\Condition\Product"/>
    </type>
    <type name="Magento\Rule\Model\Condition\Product\AbstractProduct">
        <plugin name="Amasty_Promo::Rule_Condition_Product_AbstractProduct"
                type="Amasty\Promo\Plugin\Rule\Model\Condition\Product\AbstractProduct"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Amasty_Promo::Model_Cart_Update" type="Amasty\Promo\Plugin\Model\Cart"/>
    </type>

    <virtualType name="Amasty\Promo\Model\BannerImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">amasty_promo/tmp/banner</argument>
            <argument name="basePath" xsi:type="string">amasty_promo/banner</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Amasty\Promo\Controller\Adminhtml\Banner\AbstractUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Amasty\Promo\Model\BannerImageUpload</argument>
        </arguments>
    </type>
    <type name="Magento\Rule\Model\Condition\AbstractCondition">
        <plugin name="Amasty_Promo::Condition_AbstractCondition"
                type="Amasty\Promo\Plugin\Rule\Model\Condition\AbstractCondition"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Amasty_Promo::Configurable_View"
                type="Amasty\Promo\Plugin\Block\Product\Configurable"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="Amasty_Promo::Simple_View"
                type="Amasty\Promo\Plugin\Block\Product\Simple"/>
    </type>
</config>
