<?xml version="1.0"?>
<!--
/**
 * Kensium_OverSize extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     http://opensource.org/licenses/mit-license.php
 * 
 *                     @category  Kensium
 *                     @package   Kensium_OverSize
 *                     @copyright Copyright (c) 2016
 *                     @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="KensiumOverSizeGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="KensiumOverSizeOversizeshipGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Kensium\OverSize\Model\ResourceModel\Oversizeship\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">KensiumOverSizeGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Kensium\OverSize\Model\ResourceModel\Oversizeship\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">kensium_oversize_oversizeship</argument>
            <argument name="eventPrefix" xsi:type="string">kensium_oversize_oversizeship_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">oversizeship_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Kensium\OverSize\Model\ResourceModel\Oversizeship</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kensium_oversize_oversizeship_listing_data_source" xsi:type="string">Kensium\OverSize\Model\ResourceModel\Oversizeship\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
