//
//  Author : I.CUBE
//	Description : style the overall Rayallen's theme without touching the Smartwave styles (.less)


& when (@media-common = true) {
	.product-image-photo.hover_image {
		bottom: 0;	    
	    padding: 0;
	    right: 0;
	}
	.catalog-category-view .product-image-photo.hover_image,
	.catalogsearch-result-index .product-image-photo.hover_image {
		display: none;
	}
}

//
//  Max. 768px
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m + 1)){
	footer {
		.footer-social-icons {
			li {
				padding-left: 0 !important;
				padding-right: 0 !important;
				min-width: 36px;
			}
			li:last-child {
				min-width: 45px;
			}
			li a {
				display: block;
				text-align: center;
			}
			li a [class^="porto-icon-"]:before, 
			li a [class*=" porto-icon-"]:before {
				margin-left: 0;
				margin-right: 0;
			}
		}
		.mage-error[generated] {
			font-weight: bold;
		}
	}
}

//
//  Max. 767px
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){
	.header.content {
		.search-block {
			& > div:first-child {
				width: 100% !important;
			}

			& > div .block-title {
				left: calc(~"100% - 80px");
				position: absolute;
				top: -44px;
			}

			& > div .show-search {
				width: 92%;
			}

			& > div.pull-right {
				margin-right: 0 !important;
			}
		}
	}
}


//
//    Max. 375px
// --------------------------------------
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs-375) {
	.header.links .customer-welcome {
		.customer-menu {
			margin-top: 2px;
		}
	}
}