<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Kensium. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Kensium_Amconnector::kensium_kensiumadminindex" title="Acumatica" module="Kensium_Amconnector" sortOrder="20"
             dependsOnModule="Kensium_Amconnector" resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminindex0" title="Operations" module="Kensium_Amconnector" sortOrder="10"
             parent="Kensium_Amconnector::kensium_kensiumadminindex" resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminindex1" title="Configuration" module="Kensium_Amconnector" sortOrder="10"
             parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="adminhtml/system_config/edit/section/amconnectorcommon/"
             resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminindex2" title="Attribute Mapping" module="Kensium_Amconnector"
             sortOrder="20" parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="amconnector/product/index/store/1"
             resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminindex4" title="Manual Sync" module="Kensium_Amconnector" sortOrder="30"
             parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="amconnector/sync/index/store/1"
             resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminscheindexsub2" title="Sync Logs" module="Kensium_Amconnector" sortOrder="40"
             parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="scheduler/scheduler/index"
             resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
	    <add id="Kensium_Amconnector::kensium_Help7" title="Order Error Logs" module="Kensium_OrderLogs" sortOrder="45"
             parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="orderlogs/log" resource="Kensium_OrderLogs::kensium_orderlogs"/>
        <add id="Kensium_Amconnector::kensium_kensiumadminschedulerindexsub1" title="Scheduler" module="Kensium_Amconnector" sortOrder="50"
             parent="Kensium_Amconnector::kensium_kensiumadminindex0" action="scheduler/cron/grid"
             resource="Kensium_Amconnector::kensium_kensiumadminindex"/>
        <add id="Kensium_Amconnector::kensium_Help" title="Help" module="Kensium_Amconnector" dependsOnModule="Kensium_Amconnector" sortOrder="60" parent="Kensium_Amconnector::kensium_kensiumadminindex"
             resource="Kensium_Amconnector::kensium_Help"/>
        <add id="Kensium_Amconnector::kensium_Help5" title="Documentation" module="Kensium_Help" sortOrder="70" parent="Kensium_Amconnector::kensium_Help" action="kensium_help/document" resource="Kensium_Help::kensium_support"/>
        <add id="Kensium_Amconnector::kensium_Help6" title="Support" module="Kensium_Help" sortOrder="80" parent="Kensium_Amconnector::kensium_Help" action="kensium_help/support" resource="Kensium_Help::kensium_support"/>
    </menu>
</config>

