<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Kensium. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
        <add id="kensium::productimport" title="Productimport" module="Kensium_Productimport" sortOrder="91" resource="Kensium_Productimport::sample"/>
        <add id="kensium_productimport::kensium_productimport" title="Productimports" module="Kensium_Productimport" sortOrder="10" parent="kensium::productimport" action="kensium_productimport/productimport" resource="Kensium_Productimport::kensium_productimport"/>
    </menu>
</config>
